table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }



td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }
  
.horizontal {
    display: flex;
    flex-flow: row wrap;
  }

.horizontal input {
    margin: 5px;
  }

h1, h2 {
    background-color: crimson ;
    color: blanchedalmond;
  }

h1 {
    text-align: center;
}